{%load static%}
<div class="card text-center bg-dark">
    <div class="card-header text-white">
      Tentang
    </div><br>
    <div class="card-group">
      <div class="card-body w-25">
        <p class="card-text text-white">Abi Fadri U</p>
        <p class="card-text text-white">Ichsan Taji P</p>
        <p class="card-text text-white">Faza Ridha A</p>
        <p class="card-text text-white">Ichsan Taji P</p>
        <p class="card-text text-white">Azkia El Murthada  </p>
        
      </div>
      <div class="card-body w-25">
        <h5 class="card-title">Bagian Info & Login</h5>
        <p class="card-text">Ichsan Taji P & Azkia El Murthada  </p>
      </div>
      <div class="card-body w-25">
        <h5 class="card-title">Bagian Harga & Map</h5>
        <p class="card-text">Alief Risky & Faza Ridha</p>
      </div>
      <div class="card-body w-25">
        <h5 class="card-title">Backend</h5>
        <p class="card-text">Abi Fadri U</p>
      </div>
    
  </div>
  <!-- EndFooter -->
  </div>


